@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    font-family: 'Roboto';
    outline: none;
    color: white;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);
    text-align: center;
    box-sizing: border-box;
}

.content__input {
    background: transparent;
    border: solid white 1px;
    border-radius: 50px;
    padding: 13px 15px;
    color: white;
    width: 250px;
}

.content__button {
    padding: 13px 20px;
    background: transparent;
    border: solid white 1px;
    border-radius: 30px;
    cursor: pointer;
}

.content__button:hover {
    background: white;
    color: black;
}

.content__button h3 {
    display: none;
    color: red;
}

.footer {
    margin-top: 15px;
}

.footer__icon-red {
    color: red;
}

.resultNumber,
.result,
.erro {
    display: none;
}

/* Remove Arrows Input/Number */
.content__input::-webkit-outer-spin-button,
.content__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}